<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input-Fields</title>

    <!-- Style-CSS -->
    <link rel="stylesheet" href="./../css/style.css" />
    <link rel="stylesheet" href="./../css/bootstrap-datepicker.standalone.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- Bootstrap Popper and Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>

    <!-- user card -->
    <div style="display: flex; justify-content: center;">
        <div style="color: brown;">
            <div style="display: flex; justify-content: center;">
                <h3 id="userName"></h3>
            </div>
            <div style="display: flex; justify-content: center;">
                <h5 id="userID"></h5>
            </div>
            <div style="display: flex; justify-content: center;">
                <button class="btn btn-danger" onclick="redirectPage()">LogOut</button>
            </div>
        </div>
    </div>

    <hr style="border-top: 3px solid black">

    <!-- controllers -->
    <div style="display: flex; justify-content: space-evenly; margin-top: 25px; margin-bottom: 25px;">
        <div style="display: inline;">
            <button id="showFilterBtn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">ShowFilters</button>
            <button id="resetFilterBtn" class="btn btn-danger" onclick="resetFilters()">Reset Filters</button>
            <button id="createNewBtn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">CreateNew</button>
            <button id="downloadAllBtn" class="btn btn-primary" >Download</button>
        </div>
        <div style="display: inline;">
            <input id="search" type="text" placeholder="Type Here" oninput="getString(event)">
        </div>
    </div>

    <!-- filter model -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Filters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="col">
                                <label for="sortBy">Sort By:</label>
                                <select id="sortBy" class="form-control">
                                    <option value="0">Select Type</option>
                                    <option value="1">Created Date</option>
                                    <option value="2">Updated date</option>
                                    <option value="3">Amount</option>
                                    <option value="4">Payment Date</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="ascending">Ascending:</label>
                                <select id="ascending" class="form-control" onchange="getOrder(event)">
                                    <option value="0">Select Type</option>
                                    <option value="1">Ascending</option>
                                    <option value="2">Desending</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="startDate">Start Date:</label>
                                <input type="text" id="startDate" class="form-control datepicker1"
                                    placeholder="DD-MM-YYYY" data-date-format="dd-mm-yyyy" autocomplete="off"
                                    onkeydown="event.preventDefault()" maxlength="10" onchange="getStartDate(event)">
                            </div>
                            <div class="col">
                                <label for="endDate">End Date:</label>
                                <input type="text" id="endDate" class="form-control datepicker2"
                                    placeholder="DD-MM-YYYY" data-date-format="dd-mm-yyyy" autocomplete="off"
                                    onkeydown="event.preventDefault()" maxlength="10" onchange="getEndDate(event)">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="dateType">Date Type:</label>
                                <select id="dateType" class="form-control" onchange="getDateType(event)">
                                    <option value="0">Select Type</option>
                                    <option value="1">CREATED DATE</option>
                                    <option value="2">LAST STATUS CHANGE DATE</option>
                                    <option value="3">LAST UPDATED DATE</option>
                                    <option value="4">LAST UPLOAD DATE</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="candidateType">Candidate Type:</label>
                                <select id="candidateType" class="form-control" onchange="getCandidateType(event)">
                                    <option value="0">Select Type</option>
                                    <option value="1">SELF</option>
                                    <option value="2">EMPLOYEE</option>
                                    <option value="3">HR</option>
                                    <option value="4">RECRUITMENT AGENCY</option>
                                    <option value="5">ALL</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="candidateStatus">Candidate Status:</label>
                                <select id="candidateStatus" class="form-control" onchange="getCandidateStatus(event)">
                                    <option value="0">Select Type</option>
                                    <option value="1">CREATED</option>
                                    <option value="2">SHORT LISTED</option>
                                    <option value="3">HOLD</option>
                                    <option value="4">REJECTED</option>
                                    <option value="5">ALL</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="overallExperience">Overall Experience:</label>
                                    <select class="form-control" id="overallExpFilter">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="relaventExperience">Relavent Experience:</label>
                                    <select class="form-control" id="relaventExpFilter">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <select class="form-control" id="departmentFilter">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select class="form-control" id="roleFilter" disabled>
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="zone">Zone:</label>
                                    <select class="form-control" id="zoneFilter">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="branch">Branch:</label>
                                    <select class="form-control" id="branchFilter" disabled>
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="filterBtn">Filter Data</button>
                </div>
            </div>
        </div>
    </div>

    <!-- create new model -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Create New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="fullNameCreate">Full Name:</label>
                                <input type="text" class="form-control" id="fullNameCreate" placeholder="Enter Name"
                                    maxlength="50" oninput="" onkeypress="return /[a-z]| /i.test(event.key)">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Full Name!
                                </small>
                            </div>
                            <div class="col">
                                <label for="emailCreate">Email:</label>
                                <input type="email" class="form-control" id="emailCreate" placeholder="Enter Email" oninput=""
                                    maxlength="50">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Email!
                                </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="mobileNoCreate">Mobile No:</label>
                                <input type="number" class="form-control" id="mobileNoCreate" placeholder="Enter Mobile No"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="10">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Mobile Number!
                                </small>
                            </div>
                            <div class="col">
                                <label for="overallExpCreate">Overall Experience:</label>
                                <select class="form-control" id="overallExpCreate">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="relaventExpCreate">Relavent Experience:</label>
                                <select class="form-control" id="relaventExpCreate">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="departmentCreate">Department:</label>
                                <select class="form-control" id="departmentCreate">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="roleCreate">Role:</label>
                                <select class="form-control" id="roleCreate" disabled>
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="zoneCreate">Zone:</label>
                                    <select class="form-control" id="zoneCreate">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="branchCreate">Branch:</label>
                                    <select class="form-control" id="branchCreate" disabled>
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="attachFileCreate">Attach File:</label>
                                    <input id="attachFileCreate" type="file" class="form-control-file">
                                    <button id="uploadBtnCreate" type="button" class="btn btn-outline-primary" onclick="upload()"
                                        disabled>Upload</button>
                                    <small id="namevalid" class="form-text text-muted invalid-feedback">
                                        Selected file must be less then 5MB size and of pdf or doc or docx format!
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="submitBtnCreate">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Data table -->
    <div class="container" style="overflow-x: scroll;">
        <table id="reportTable" class="table table-sm table-bordered table-striped table-fixed">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Candidate Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Department</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Date of application received</th>
                    <th scope="col">Latest Actioned Date</th>
                    <th scope="col">Last Action By</th>
                    <th scope="col">Candidate Status</th>
                    <th scope="col">Candidate ID</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Download</th>
                    <th scope="col">Update</th>
                    <th scope="col">Downloaded By</th>
                </tr>
            </thead>
            <tbody id="mainDataTable">
            </tbody>
        </table>
    </div>

    <!-- footer -->
    <div style="display: flex; justify-content: space-evenly;">
        <div style="display: inline;">
            <label>Page Size:</label>
            <select id="pageSize" onchange="changePageSize()">
                <option value="10" default>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
        <div style="display: inline;">
            <div id="pagination" class="paginationjs-theme-blue"></div>
        </div>
    </div>


    <!-- update model -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="fullName">Full Name:</label>
                                <input type="text" class="form-control"  placeholder="Enter Name"
                                    maxlength="50" oninput="" onkeypress="return /[a-z]| /i.test(event.key)">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Full Name!
                                </small>
                            </div>
                            <div class="col">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control"  placeholder="Enter Email" oninput=""
                                    maxlength="50">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Email!
                                </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="mobileNo">Mobile No:</label>
                                <input type="number" class="form-control"  placeholder="Enter Mobile No"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="10">
                                <small id="namevalid" class="form-text text-muted invalid-feedback">
                                    Enter valid Mobile Number!
                                </small>
                            </div>
                            <div class="col">
                                <label for="overallExperience">Overall Experience:</label>
                                <select class="form-control" >
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="relaventExperience">Relavent Experience:</label>
                                <select class="form-control" >
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="department">Department:</label>
                                <select class="form-control" >
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="role">Role:</label>
                                <select class="form-control"  disabled>
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="zone">Zone:</label>
                                    <select class="form-control" >
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="branch">Branch:</label>
                                    <select class="form-control"  disabled>
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="attachFile">Attach File:</label>
                                    <input  type="file" class="form-control-file">
                                    <button  type="button" class="btn btn-outline-primary" onclick="upload()"
                                        disabled>Upload</button>
                                    <small id="namevalid" class="form-text text-muted invalid-feedback">
                                        Selected file must be less then 5MB size and of pdf or doc or docx format!
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" >Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- download by model -->
    <div class="modal fade" id="downloadedByModal" tabindex="-1" aria-labelledby="downloadedByModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="downloadedByModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: scroll;">
                    <div class="container-fluid">
                        <table id="reportTable" class="table table-sm table-bordered table-striped table-fixed">
                            <thead>
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Emp Id</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mob no.</th>
                                    <th scope="col">Downloaded On</th>
                                </tr>
                            </thead>
                            <tbody id="downloadByModalBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    


    <script src="../scripts/bootstrap-datepicker.min.js"></script>
    <script src="../scripts/pagination.min.js"></script>
    <script src="../scripts/table.js"></script>
</body>

</html>